* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */
}

body {
  background-color: #F9F4FB;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

header h1 {
  color: #B52184;
  font-size: 3.2rem;
  font-weight: 900;
  margin-top: 1.7rem;
}

header p {
  color: #312D64;
  font-size: 2rem;
  font-weight: 600;
}

header button {
  border: none;
  margin-top: 3.5rem;
}

header button:hover {
  opacity: .6;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 9rem;
  font-family: 'Mulish', sans-serif;
  background-color: #312D64;
}

main div.standart {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;

  animation-name: drop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  animation-delay: 1s;
}

main div.standart img {
  width: 8rem;
}

main div.standart:hover {
  width: 100%;
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1);
  transition-duration: .8s;
}

@keyframes drop {
  from {
    transform: translateY(-100vw);
    opacity: 0;
  }
}


.standart h2 {
  color: #B52184;
  font-size: 3rem;
  font-weight: 900;
}

.standart p {
  color: #312D64;
  font-size: 1.6rem;
  font-weight: 600;
}

.contact {
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 7.8rem 4rem;
  background-color: #F9F4FB;
}

.contact h1 {
  color: #B52184;
  font-size: 3.2rem;
  font-weight: 900;
}

.contact input {
  border: 1px solid #312D64;
  border-radius: 1.6rem;
  padding: 2rem 1.6rem;
}

::placeholder {
  font-family: 'Mulish', sans-serif;
  color: #312D64;
  font-weight: 600;
}

textarea {
  min-height: 15rem;
  border-radius: 1.6rem;
  border: 1px solid #312D64;
  padding: 2rem 1.6rem;
}

.pressButton {
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #312D64;
}

.pressButton:hover {
  background-color: #2c2764 ;
  cursor: pointer;
}

footer {
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: #312D64;
  color: #fff;
  padding: 3.2rem 1.6rem;
  text-align: center;
}

@media (min-width:1024px) { 
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  #queries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
  }

  header h1 {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 4rem;
    font-weight: 900;
  }

  header p {
    color: #312D64;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 600;
  }

  button {
    background: none;
  }

  button img {
    width: 3rem;
    position: absolute;
    top: 90%;
  }

  #main-standart {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    place-content: space-around;
  }
  
  #queries-adjusts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #queries-adjusts h2 {
    color: #B52184;
    font-family: 'Mulish', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
  }

  #queries-adjusts p {
    color: #312D64;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 600; 
  }

  .contact {
    flex: 1;
  }

  section {
    display: flex;
    justify-content: space-between;
  }
  
  #stars {
    background: url(/assets/Stars.png);
    display: flex;
    flex: 1;
    width: 50%;
    background-repeat: no-repeat;
    background-position: right;
  }
}
